body{
    background-color: darkblue;
}

.title {
    position:relative;
    color: yellow;
    font-weight: bolder;
    padding-left: 8px;
    font-size: 24px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 50px;
    /* flex-wrap: wrap; */
}

.images{
    margin-top: 4px;
    background-color: darkblue;
    width:min-content;
    height: 100%;
    padding: 5px 5px;
    border-top: 1px solid darkblue; 
      
    /* flex-wrap: wrap; */
}

.images_container{
    flex-direction: row;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    height: 330px;
    /* flex-wrap: wrap; */
}

.image{
    width: 220px;
    margin: 20px;
}

.image_thumbnail{
    position: relative;
    width:100%;
    height: 170px;
}

.image_thumbnail img{
    position: relative;
    object-fit: cover;
    height: 170px;
    width: 220px;
    border: 5px solid darkblue;
    border-top-left-radius: 10% 30%;
    border-top-right-radius: 10% 30%;
    border-bottom: 0px;
}

.top-right {
    position: absolute;
    top: 5px;
    right: 12px;
    font-weight: bold;
    font-size: 18px;
    background-color: yellow;
    border: 5px solid yellow;
    border-top-left-radius: 10% 50%;
    border-top-right-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
    border-bottom-right-radius: 10% 50%;
    border-bottom: 0px;
  }

.image_details{
    background-color: white;
    /* margin-top: 10px; */
    font-size: 14px;
    margin-bottom: 10px;
    color: black;
}

#detail{
    background-color: white;
    /* margin-top: 10px; */
    width: 220px;
    height: 130px;
    color: black;
    font-weight: bold;
    font-size: 24px;
    border: 5px solid darkblue;
    border-top: 0px;
    margin-top: 5px;
    border-bottom-left-radius: 10% 10%;
    border-bottom-right-radius: 10% 10%;
}

#detail a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 24px;
}

#detail a:hover{
    color: red;
}

.more{
    color: white;
    font-size: 18px;
    justify-content: right;
    text-align: right;
}

.more a{
    text-decoration: none;
    color: white;
    text-align: right;
    font-weight: bold;
}
