.header{
    font-weight: bold;
    font-size: 16px;
}
#gallerytitle{
    color:red
}

.container {
    position: relative;
    color: white;
    font-weight: bold;
    font-size: 24px;
  }

  .container img{
    height: 100%;
    width: 100%;
  }

  .bottom-left {
    position: absolute;
    bottom: 5px;
    left: 12px;
  }

  .subcontainer {
    position: relative;
    color: black;
    font-weight: bold;
    font-size: 24px;
    display: inline-block;
    height: 50%;
    width: 50%;
    float: left;
  }

  .subcontainer > .bottom-left {
    position: absolute;
    bottom: 5px;
    width: 90%;
  }

  .subcontainer img{
    height: 95%;
    width: 95%;
    margin-left: 2%;
  } 

  .container::after {
    content: "";
    clear: both;
    display: table;
  }

  .top-right {
    position: absolute;
    top: 5px;
    right: 12px;
  }